body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:130%;
    /* background-color: rgb(174, 186, 160); */
    background-color: #f0f4f8;
    height: 100vh;
    margin: 0;
}
#wrapper{
     
   width: 550px;
   /* margin: 0 auto; */
   margin: auto auto auto auto;
   border: 2px solid black;
   padding-top: 7px;
   padding-bottom: 7px;
   padding-left: 10px;
padding-right: 3px;
border-radius: 5%;

    
}
label{
    width: 200px;
    float: left;
    position: relative;
    top: 12px;
   
}
input{
    width: 320px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px 12px 5px;
}
.formelement{
    margin-bottom: 20px;
}

#submit{
    width: 150px;
    margin-left: 200px;
}


#errors{
    color: red;
    font-size: 90%;
    

}
#success{
    color: green;
    font-size: 90%;
 
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */
#box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    position: static;
}
#submit:hover
{
    background-color: black;
    color:white;
}